videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
papers/*.mp4 filter=lfs diff=lfs merge=lfs -text
_site/papers/*.mp4 filter=lfs diff=lfs merge=lfs -text
videos/tongue-anim.mp4 filter=lfs diff=lfs merge=lfs -text
